/* @import "url('./base.css')" ; */
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(12 122 231 20%);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: rgb(231 12 12 100%) ;
  }
}

@media (width >= 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
